.sidebar-containers{
    color: #fff !important;
    background-color: #536d79dc !important;
    border-radius: 5px;
}

.sidebar-title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.sidebar-text {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}