  .custom-button-plan-manager {
    background-color: #536d79; /* Màu nền */
    border-color: #536d79; /* Màu viền */
    color: #ffffff; /* Màu chữ */
    margin-right: 54%;
    padding: 20px;
    margin-bottom: 20px;
  }
  .custom-button-plan-staff {
    background-color: #536d79; /* Màu nền */
    border-color: #536d79; /* Màu viền */
    color: #ffffff; /* Màu chữ */
    margin-right: 83%;
    padding: 20px;
    margin-bottom: 20px;
  }