.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px;
    img{
        width: 100px;
    }
}

.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}